@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
}

html, body {
    width: 100%;
}

/*Fondo*/

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0D0E20;
    opacity: 0.6;
    z-index: -1;
}

/*Fin del fondo*/

.contenedor-principal {
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
    margin: 0;
    padding-top: 70px;

}

/*BARRA NAVEGACION*/
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* Asegura que quede encima */
    background: transparent;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000057;
    /* Fondo semi-transparente */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 1000;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar-menu li {
    position: relative;
    display: inline-block;
    position: relative;
}

.navbar-menu li a {
    font-size: 1.125rem;
    letter-spacing: 0.20625rem;
    text-decoration: none;
    color: #F0EDE5;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.navbar-menu>li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F0EDE5;
    transition: transform 0.25s ease-out;
}

.navbar-menu>li:hover::after {
    transform: scaleX(1);
}


/*MENUS*/
.navbar-hamburger {
    display: none;
    /* Ocultar por defecto */
    cursor: pointer;
}

.navbar-mobile {
    display: none;
    /* Ocultar por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000057;
    /* Fondo semi-transparente */
    padding: 1rem 0;
}

/*FIN MENUS*/


/*LOGO*/
.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid transparent;
    padding: 0.2rem;
    border-radius: 50%;
    border: 2px solid black;
}

.navbar-logo img {
    border-radius: 50%;
}

/*FIN LOGO*/


/*MENU HAMBURGUESA*/
.abrir-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.abrir-menu {
    top: -50%;
    right: 20px;
    transform: translate(-50%);
}

#check {
    display: none;
}

#check-busqueda {
    display: none;
}

.check-busqueda {
    display: none;
}

.caja_carta_buscar {
    width: 250px;
    height: 350px;
    margin-top: 120px;
    left: 10px;
    justify-content: left;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

@media (max-width: 1200px) {
    .abrir-menu {
        display: block;
        z-index: 1001;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
    }

    #check:checked~.navbar-menu {
        right: 0;
    }


    .abrir-menu {
        position: absolute;
        top: 20px;
        right: 30px;
    }
}

@media (max-width:1250px) {
    .check-busqueda {
        display: block;
        position: absolute;
        width: 30px;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1001;
    }

    .caja_carta_buscar {
        display: none;
    }


    #check-busqueda:checked ~ .caja_carta_buscar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 70px;
        left: 40px;
        background-color: rgba(0, 0, 0, 0.9);
        width: auto;
        padding: 20px;
        border-radius: 8px;
        z-index: 1002;
    }
}

/*FIN MENU HAMBURGUESA*/

/*INICIO CARDS*/
.caja_grande {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 120px;
    margin-left: 30px ;
    padding: 0px 0;
    width: 80%;
    justify-content: center;
}

.carta {
    padding-top: 0px;
    position: relative;
    width: 380px;
    max-width: 90vw;
    min-width: 320px;
    height: 430px;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
    border: 2px solid white;
    margin-bottom: 30px;
}

.carta:hover {
    transform: translateY(-10px);
}

.imagen-zona {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.imagen-zona img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.imagen-zona:hover img {
    transform: scale(1.1);
}

.cobertura {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 80, 122, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carta:hover .cobertura {
    opacity: 1;
}

.añade-carro, .detalles {
    background-color: #D9CBC2;
    color: #3C507D;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3 ease;
    margin-bottom: 10px;
}

.añade-carro:hover, .detalles:hover {
    background-color: #E0C58F;
    color: #fff;
    border: none;
}

.descripcion {
    padding: 10px;
    text-align: center;
    color: #F5F0E9;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.descripcion h3 {
    margin: 15px 0 10px;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.descripcion .precio {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: #E0C58F;
    margin-bottom: 5px;
}

/*MENU DE BUSCAR CARTAS*/

.barra-busqueda {
    display: flex;
    align-items: center;
    gap: 5px;

}



.caja_carta_buscar input[type="text"] {
    display: inline-block;
    padding: 10px;
    background-color: #00000000;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 1rem;

}

.caja_carta_buscar input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #bdbdbd;
}

.caja_carta_buscar button {
    background-color: #00000000;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3 ease;
    margin-top: 10px;
}

.fa-search {
    color: white;
    font-size: 1.2rem;
}

.titulo_buscar {
    font-size: 25px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    color: #F5F0E9;
}

.texto_buscar {
    position: relative;
    display: inline-block;
    padding-top: 15px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F5F0E9;
    transition: color 0.3s ease;
}

.texto_buscar:hover {
    text-decoration: underline;
}

/*FIN DEL MENU DE BUSCAR CARTAS*/
/*FIN CARDS*/

/* CARRITO DE COMPRAS */

.carrito-de-compras {
    position: fixed;
    top: -2000px;
    right: 50px;
    height: auto;
    max-height: 75vh;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 1001;
    display: block;
    opacity: 0; 
    transition: opacity 0.3s ease;
}



.carrito-de-compras table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-carrito {
    width: 700px;
}

#check-carrito ~ label {
    position: fixed;
    top: 160px;
    right: 10px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1002;
}


.carrito-de-compras td, .carrito-de-compras th {
    border: 1px solid #ddd;
    padding: 8px;
}

#check-carrito:checked~.carrito-de-compras {
    display: block;
    top: 73px;
    margin-top: 70px;
    opacity: 1; /* Cambia opacidad a visible */
    /* transition: opacity 0.3s ease;  No es necesario aquí, ya está en la clase */
}

.check-carrito {
    display: none;
}

.boton-comprar {
    background-color: #00000000;
    color: #ffffff;
    padding: 10px 15px;
    border: solid 2px #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3 ease;
    margin-top: 10px;
}

.eliminar {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
}



/* INICIO FOOTER */

footer {
    background-color: #0D0E20;
    text-align: center;
    padding: 20px 0;
    color: white;
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.contenido-footer {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.contenido-footer h4 {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.contenido-footer p {
    font-weight: 300;
    margin: 10px;
    font-size: 1.3rem;
}

.contenido-footer img {
    padding-top: 20px;
}

.contenido-footer a {
    padding-left: 10px;
}

.contenido-footer a img:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}

/*FIN FOOTER*/

/* Tablets */
@media (max-width: 1224px) {
    .contenedor-principal {
        padding-left: 270px;
    }

    .caja_carta_buscar {
        left: 10px;
    }
}


/* Tablets y móviles */



@media (min-width: 320px) and ((max-width: 750px)) {

    .navbar-logo img {
        width: 70px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        background: none;
    }


    .caja_grande {
        display: grid;
        margin: auto;
        margin-left: 10px;
        grid-template-columns: 1fr;

    }

    .carta {
        width: 100%;
        max-width: 90vw;
        min-width: 200px;
    }

    .carrito-de-compras {
        width: 100vw;
        right: 800px;
        height: 100vh;
        top: 0;
    }

    .carrito-de-compras table {
        width: 100%;
    }

    .carrito-de-compras td, .carrito-de-compras th {
        font-size: 12px;
        padding: 5px;
    }

    .carrito-de-compras td, img{
        width: 50px;
    }

    #check-carrito:checked~.carrito-de-compras {
        display: block;
        top: 0;
        right: 0;
        margin-top: 0;
        opacity: 1;
    }

    .caja_carta_buscar {
        width: 250px;
        height: auto;
        left: 0;
        padding-right: 0;

    }

    .titulo_buscar {
        font-size: 18px;
    }

    .texto_buscar {
        font-size: 13px;
    }



}

@media (min-width: 376px) and (max-width: 900px) {
    .navbar-logo img {
        width: 70px;
    }

    .caja_grande {
        display: grid;
        margin: auto;
        margin-left: 25px;
        grid-template-columns: 1fr;
    }

    .carta {
        width: 100%;
        max-width: 90vw;
        min-width: 250px;
    }

    .carrito-de-compras {
        width: 100vw;
        right: 800px;
        height: 100vh;
        top: 0;

    }

    #check-carrito:checked~.carrito-de-compras {
        display: block;
        top: 0;
        right: 0;
        margin-top: 0;
        opacity: 1;
    }

    .tabla-carrito {
        width: 100%;
    }



    .abrir-menu {
        position: absolute;
        top: 35px;
        right: 130 px;
    }


}

@media (min-width: 801px) and (max-width: 1224px) {
    .contenedor-principal {
        padding-left: 170px;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
    }




    .caja_carta_buscar {
        position: fixed;
        width: 20%;
        margin: 20px auto 0;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: auto;
        gap: 24px;
        top: 200px;
    }

    .caja_grande {
        max-width: 600px;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .carta {
        width: 35vw;
        min-width: unset;
        max-width: 98vw;
        height: auto;
    }

    .imagen-zona img {
        height: 180px;
    }

    .descripcion h3,
    .descripcion .precio {
        font-size: 1.1rem;
    }

    .navbar {
        padding: 1rem 1.5rem;
    }

    .contenedor-footer {
        max-width: 550px;
    }

    .abrir-menu {
        position: absolute;
        top: 35px;
        right: 100px;
    }
}

/* Móviles  */
@media (min-width: 699px) and (max-width: 800px) {
    .contenedor-principal {
        padding-left: 100px;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
    }

    .caja_carta_buscar {
        position: fixed;
        width: 25%;
        margin: 20px auto 0;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: auto;
        gap: 16px;
        top: 200px;
    }

    .caja_grande {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 100px;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        gap: 16px;

    }

    .carta {
        width: 50vw;
        min-width: unset;
        max-width: 98vw;
        height: auto;
    }

    .imagen-zona img {
        height: 180px;
    }

    .descripcion h3,
    .descripcion .precio {
        font-size: 1.1rem;
    }

    .navbar {
        padding: 1rem 1.5rem;
    }

    .contenedor-footer {
        max-width: 550px;
    }

    .abrir-menu {
        position: absolute;
        top: 35px;
        right: 100px;
    }
}

/* Móviles pequeños */
@media (max-width: 750px) {
    .navbar {
        padding: 0.5rem 0.5rem;
    }

    .navbar-logo {
        font-size: 1rem;
    }

    .contenedor-principal {
        padding-left: 60px;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
    }

    .caja_carta_buscar {
        position: fixed;
        width: 20%;
        margin: 20px auto 0;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: auto;
        gap: 16px;
    }

    .carta {
        width: 60vw;
        height: auto;
        min-width: unset;
        max-width: 100vw;
        margin-bottom: 16px;
    }


    .descripcion {
        font-size: 0.95rem;
    }

    .descripcion h3,
    .descripcion .precio {
        font-size: 1rem;
    }

    footer {
        font-size: 0.9rem;
        padding: 10px 0;
    }

    .contenedor-footer {
        max-width: 320px;
    }

    .contenido-footer h4 {
        font-size: 1.1rem;
    }

    .contenido-footer p {
        font-size: 1rem;
    }

    .abrir-menu {
        position: absolute;
        top: 35px;
        right: 100px;
    }


}

/* FIN RESPONSIVIDAD GENERAL */