@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #0D0E20;
}

.contenedor-principal {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

/*BARRA NAVEGACION*/

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Asegura que quede encima */
    background: transparent;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000057; /* Fondo semi-transparente */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 1000;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar-menu li {
    position: relative;
    display: inline-block;
    position: relative;
}

.navbar-menu li a {
    font-size: 1.125rem;
    letter-spacing: 0.20625rem;
    text-decoration: none;
    color: #F0EDE5;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.navbar-menu > li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F0EDE5;
    transition: transform 0.25s ease-out;
}

.navbar-menu > li:hover::after {
    transform: scaleX(1);
}



.navbar-hamburger {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
}

.navbar-mobile {
    display: none; /* Ocultar por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000057; /* Fondo semi-transparente */
    padding: 1rem 0;
}

/*LOGO*/
.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid transparent;
    padding: 0.2rem;
    border-radius: 50%;
    border: 2px solid black;
}

.navbar-logo img {
    border-radius: 50%;
}

/*CONFIGURAR AQUI MENU HAMBURGUESA*/

.abrir-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.abrir-menu{
    top: -50%;
    right: 20px;
    transform: translate(-50%);
}

#check{display: none;}
@media (max-width: 1200px) {
    .abrir-menu  {
    display: block;
    z-index: 1001;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        }

    #check:checked ~ .navbar-menu {   
        right: 0;
    }

    .abrir-menu {
        position: absolute;
        top: 20px;
        right: 30px;
    }
}
/*FIN MENU HAMBURGUESA*/

/* INICIO SECCION DE SERVICIOS */



.main-content {
    z-index: 1000;
    width: 100%;
    background-color: #0D0E20;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;

}

.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background img {
    background-position: center;
    background-size:cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}




.main-content h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.main-content p {
    color: #F0EDE5;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.servicios-lista {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin: 0 auto;
    padding: 0 20px;
}


.servicio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1B2D;
    gap: 15px;
    height: auto;
    padding: 20px;
    width: 60vw;
    border-radius: 10px;
}

.servicio-item:hover {
    box-shadow: #F0EDE5 0px 0px 15px;
    transition-duration: 0.5s;
}

.servicio-item img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.servicio-item div {
    width: 70%;
    margin-top: 20px;
}

.servicio-item h2 {
    color: #F0EDE5;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center;
}

.servicio-item p {
    color: #F0EDE5;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.servicio-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A1B2D;
    height: 350px;
    padding: 20px;
    width: 100vw;
}


/*FIN SECCION DE SERVICIOS */



/* INICIO FOOTER */

footer {
    position: relative;
    background-color: #0D0E20;
    text-align: center;
    padding: 20px 0;
    color: white;
    margin-top: 20px;
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contenido-footer {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.contenido-footer h4 {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.contenido-footer p {
    font-weight: 300;
    margin: 10px;
    font-size: 1.3rem;
}

.contenido-footer img {
    padding-top: 20px;
}

.contenido-footer a {
    padding-left: 10px;
}

.contenido-footer a img:hover{
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}
/*FIN FOOTER*/